header.inside {

  padding:20px;

  .profile {
    img {
      width: 150px;
      height: 150px;
      float: left;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }

}
