header.inside {

  padding:0;

  .profile {
    img {
      width: 150px;
      height: 150px;
      float: left;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }

}

#podcast-list {
  padding-top: 22px;
  li, li > *{
    cursor: pointer;  
  }
}

.podcast-item {
  clear:both;
  cursor:pointer;
  
  figure {
    width: 8%;    
    float:left;
    margin:15px;
    img {
      width: 100%;
    }
  }

  .podcast-content {
    float:left;
    cursor:pointer;
    width: 95%;
    padding-left: 25px;
    
    &.with-image {
      padding-left:0;
      width: 86%;
    }
  
    h2 {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    p {
      margin-top:0;
    }

  }

}
