header.inside {

  padding:0;

  .profile {
    img {
      width: 150px;
      height: 150px;
      float: left;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }

}

#podcast-list {
  padding-top: 22px;
  li, li > *{
    cursor: pointer;  
  }
}
