<header class="inside">
  <div class="profile">
    <img ng-src="{{podcast.image}}" alt="">
    <h1>{{podcast.name}}</h1>
    <p>{{podcast.description.short}}</p>
  </div>
  <button ng-click="unsubscribe()" class="btn btn-large btn-default">Unsubscribe</button>
</header>
<div class="content">
  <article class="podcast-item" ng-repeat="episode in episodes">
    <figure ng-hide="!episode.hasOwnProperty('image')">
      <img ng-src="{{episode.image}}" alt="">
    </figure>
    <div ng-dblclick="play(episode)" ng-class="{'podcast-content': true, 'with-image': episode.hasOwnProperty('image')}">
      <h2>{{episode.title}}</h2>
      <p>{{episode.description}}</p>
    </div>
  </article>
</div>
