<!DOCTYPE html>
<html>
<head>
  <title>Photon</title>
  <link rel="stylesheet" href="assets/css/photon.min.css">
  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="podcast-desktop">
  <div class="window">

    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar" ng-controller="PodcastListController">
          <ul id="podcast-list" class="list-group">
          <li ng-class="{'list-group-item': true, active: selected == 'recent'}" ng-click="loadRecent()">
              <img class="img-circle media-object pull-left" src="assets/images/clock.png" width="32" height="32">
              <div class="media-body">
                <strong>Recent updates</strong>
                <p>{{total}} episodes</p>
              </div>
            </li>  
            <li ng-class="{'list-group-item': true, active: selected == pod.id}" ng-repeat="pod in podcasts" ng-click="load(pod.id)">
              <img class="img-circle media-object pull-left" ng-src="{{pod.image}}" width="32" height="32">
              <div class="media-body">
                <strong>{{pod.name}}</strong>
                <p>{{pod.description.short}}</p>
              </div>
            </li>           
          </ul>
        </div>

        <div class="pane">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <footer ng-controller="PlayerController">
      <audio id="music" controls="controls" label="{{episode.title}}" preload="true" oncanplaythrough="readyToPlay()">
        <source src="" type="audio/mpeg" />
      </audio>
      <div id="audioplayer">
        <button id="pButton" class="play" onclick="play()"></button>
        <div class="desc"></div>
        <div id="timeline">
          <div id="playhead"></div>
        </div>
      </div>
    </footer>

  </div>
</body>
  <script type="text/javascript">
    window.alertify = require('alertify.js');
    window.$ = require('jquery');
    window.jQuery = $
  </script>
  <script type="text/javascript" src="./vendor.js"></script>
  <script type="text/javascript" src="./renderer.js"></script>
</html>
