<!DOCTYPE html>
<html>
<head>
  <title>Photon</title>
  <link rel="stylesheet" href="assets/css/photon.min.css">
  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="podcast-desktop">
  <div class="window">
    <header>
      <div id="top-bar" class="drag" ng-controller="PlayerController">
        <div class="player-left">
          <div class="titlebar-stoplight no-drag">
            <div class="titlebar-close"></div>
            <div class="titlebar-minimize"></div>
            <div class="titlebar-fullscreen"></div>
          </div>
          <div id="large-player-controls">
            <div class="amplitude-prev no-drag" id="previous"></div>
            <div class="amplitude-play-pause amplitude-paused no-drag" amplitude-main-play-pause="true" id="play-pause"></div>
            <div class="amplitude-next no-drag" id="next"></div>
          </div>
        </div>

        <div id="now-playing-song-display" class="player-center">
          <img id="top-bar-album-art" src="assets/images/no-cover.png" amplitude-song-info="cover"/>
          <div id="now-playing-song-meta-container">
            <div class="current-time" ng-show="show">
              <span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
            </div>

            <span class="now-playing-title" amplitude-song-info="name">Anansi</span><br>
            <span class="album-information"><span amplitude-song-info="artist">Podcast Player</span><span amplitude-song-info="album"></span></span>

            <div class="time-duration" ng-show="show">
              <span id="song-duration-minutes" class="amplitude-duration-minutes" amplitude-single-duration-minutes="true">0</span>:<span id="song-duration-seconds" class="amplitude-duration-minutes" amplitude-single-duration-seconds="true">00</span>
            </div>
            <input type="range" id="song-time-slider" class="amplitude-song-slider no-drag" amplitude-singular-song-slider="true" value="0">
          </div>
        </div>

        <div class="player-right">
          <button id="refresh" class="btn btn-default no-drag">
            <span class="icon icon-ccw"></span>
          </button>
          <button id="add-subscription" class="btn btn-default no-drag">
            <span class="icon icon-plus icon-text"></span>
            Add Podcast
          </button>
      </div>
      </div>
    </header>
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar" ng-controller="PodcastListController">
          <ul id="podcast-list" class="list-group">
            <li ng-class="{'list-group-item': true, 'list-group-item-recent': selected == 'recent', active: selected == 'recent'}" ng-click="loadRecent()">
              <img class="img-circle media-object pull-left" src="assets/images/clock.png" width="32" height="32">
              <div class="media-body">
                <strong>Recent updates</strong>
              </div>
            </li>
            <li ng-class="{'list-group-item': true, active: selected == pod.id}" ng-repeat="pod in podcasts" ng-click="load(pod.id)">
              <img class="img-circle media-object pull-left" ng-src="{{pod.image}}" width="32" height="32">
              <div class="media-body">
                <strong>{{pod.name}}</strong>
                <p>{{pod.description.short}}</p>
              </div>
            </li>
          </ul>
        </div>

        <div id="main-container" class="pane content" ng-controller="PaneController">
          <div id="default-container" ng-class="{half: episodeOpen}" ng-view></div>
          <div ng-show="episodeOpen" id="episode-detail-pane" ng-controller="EpisodeDetailController">
            <div ng-show="episode">
              <img width="100%" ng-src="{{episode.image || podcast.image}}" alt="">
              <h4>{{episode.title}}</h4>
              <p>
                Categories: {{episode.categories.join(', ')}} <br />
                Published at {{episode.published | date: 'MMMM dd of yyyy'}}<br />
                <button ng-click="browser()" class="btn btn-default">Open in Browser</button>
              </p>
              <div class="content" ng-bind-html="content"></div>
            </div>
            <div ng-hide="episode">No Episode selected</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    window.alertify = require('alertify.js');
    window.$ = require('jquery');
    window.jQuery = $
  </script>
  <script type="text/javascript" src="./vendor.js"></script>
  <script type="text/javascript" src="./renderer.js"></script>

</body>
</html>
